*,
::before,
::after {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

:root {
  background-color: rgb(49, 99, 65);
}

.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app .balls-canvas {
  border: 2px solid rgb(29, 173, 24);
  border-radius: 5px;
  background-color: rgb(27, 56, 29);
}
